body, html {
    height: 100%;
    text-align: center;
}
body {
    background-color: #009b71;
}
h1, h2, p {
    color: #FFF;
    font-family: 'Passion One', cursive;
    font-size-adjust: 1;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 2px;
    padding-bottom: 15px;
}
p {
    -webkit-text-stroke-width: 1px;
    text-decoration: underline; 
}
img {
    padding-bottom: 30px;
}
.outer, .inner {
    height: 100%;
}